<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Chatbot Unla</title>
<!-- Bootstrap core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/modern-business.css" rel="stylesheet" />
<!-- Custom styles -->
<link href="/css/style-custom.css" rel="stylesheet" />
</head>
<body class="login-page">
	<div class="login-container">
		<!-- Logo -->
		<img src="/images/UNLa_logo.png" alt="UNLa Logo" />
		<!-- Biblioteca -->
		<div class="library-name">Biblioteca "Rodolfo Puiggrós"</div>

		 <h1>Inicio de Sesión</h1>

		<form th:action="@{/login}" method="post">
			<input type="text" name="username" id="username"
				placeholder="Usuario" class="form-control mb-2" /> <input
				type="password" name="password" id="password"
				placeholder="Contraseña" class="form-control mb-2" /> <input
				type="submit" class="btn btn-primary" value="Ingresar" />
		</form>

		<div th:if="${param.error}" class="alert alert-danger">Usuario o
			contraseña incorrectos.</div>
	</div>
	</div>
</body>
</html>
