<!-- fragments/sidebar.html -->
<head>
    <meta charset="UTF-8">
</head>
<div class="sidebar" id="sidebar" th:fragment="sidebar">
    <button class="toggle-btn" onclick="toggleSidebar()">
        <i class="bi bi-list"></i>
    </button>
    <ul class="nav flex-column w-100">
        <li class="nav-item" sec:authorize="hasAuthority('Administrador')">
            <a class="nav-link" href="/index"><i class="bi bi-house-door"></i> <span>Inicio</span></a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('Administrador')">
            <a class="nav-link" th:href="@{/usuarios/lista/}"><i class="bi bi-people"></i> <span>Usuarios</span></a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('Administrador')">
            <a class="nav-link" th:href="@{/perfiles/lista/}"><i class="bi bi-person-badge"></i> <span>Perfiles</span></a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('Administrador')">
            <a class="nav-link" th:href="@{/preguntas/lista/}"><i class="bi bi-question-circle"></i> <span>Preguntas</span></a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('Administrador')">
            <a class="nav-link" th:href="@{/baseDeConocimiento/lista/}"><i class="bi bi-robot"></i> <span>Base de conocimiento</span></a>
        </li>
        <li class="nav-item">
            <form sec:authorize="authenticated" th:action="@{/logout}" method="post">
                <button class="nav-link btn btn-link text-start" type="submit">
                    <i class="bi bi-box-arrow-left"></i> <span>Cerrar sesión</span>
                </button>
            </form>
            <a class="nav-link" sec:authorize="anonymous" th:href="@{/login}">
                <i class="bi bi-box-arrow-in-right"></i> <span>Iniciar sesión</span>
            </a>
        </li>
    </ul>
</div>
